Transformations/Cpp/MBT_FFTReal.cpp
Transformations/Cpp/MBT_Fourier.cpp
Transformations/Headers//MBT_FFTReal.h
Transformations/Headers/MBT_Fourier.h

PreProcessing/Cpp/Biquad.Cpp
PreProcessing/Cpp/MBT_BandPass_Arma_double.cpp
PreProcessing/Cpp/MBT_BandPass_Arma.cpp
PreProcessing/Cpp/MBT_BandPass.cpp
PreProcessing/Headers/Biquad.h
PreProcessing/Headers/MBT_BandPass.h